$tomato: hsl(4, 100%, 67%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

$font-size: 16px;
$font-weight-regular: 400;
$font-weight-bold: 700;

$mobile: 375px;
$desktop: 1440px;

@font-face {
	font-family: 'regularRoboto';
	src: url(./_projectFiles/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'boldRoboto';
	src: url(./_projectFiles/assets/fonts/Roboto-Bold.ttf);
}

.container {
	font-family: 'regularRoboto';
	font-size: $font-size;
	color: $dark-slate-grey;

	.header {
		font-family: 'boldRoboto';
	}

	.paragraph {
		font-weight: $font-weight-regular;
	}
}
