$tomato: hsl(4, 100%, 67%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

$font-size: 16px;
$font-weight-regular: 400;
$font-weight-bold: 700;

$mobile: 375px;
$desktop: 1440px;

@font-face {
	font-family: 'regularRoboto';
	src: url(./_projectFiles/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'boldRoboto';
	src: url(./_projectFiles/assets/fonts/Roboto-Bold.ttf);
}

.container {
	font-family: 'regularRoboto';
	font-size: $font-size;
	color: $dark-slate-grey;
}

.content {
	padding: 1rem;

	h1 {
		font-family: 'boldRoboto';
	}

	ul {
		padding: 0;
		list-style-type: none;

		li {
			display: flex;
			gap: 1rem;

			img {
				align-self: center;
			}
		}
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.emailEntry {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			label {
				font-size: 12px;
				font-family: 'boldRoboto';
				color: $dark-slate-grey;
			}

			input {
				border: 1px solid $grey;
				border-radius: 10px;
				padding: 1rem;
			}

			input::placeholder {
				color: $grey;
				font-family: 'regularRoboto';
			}
		}

		button {
			padding: 1rem;
			border-radius: 10px;
			border: none;
			background-color: $dark-slate-grey;
			color: $white;
			font-family: 'boldRoboto';
		}
	}
}
